In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn import metrics

# Base

In [3]:
# Importando a base
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## Tratamento

In [4]:
# Trocando sex de string (male, female) para int (0, 1)
train['Sex'] = train['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [5]:
# Utilizando One Hot Encoding para embarked
new_columns = pd.get_dummies(train['Embarked'], prefix='Embarked')
train = train.join(new_columns)

In [6]:
# Removendo colunas
train = train.drop(columns=['Name', 'Embarked', 'Ticket', 'Cabin'])

In [7]:
# Preenchendo missing values das idades
train['Age'].fillna((train['Age'].mean()), inplace=True)

In [8]:
train.sample(5)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
686,687,0,3,0,14.000000,4,1,39.6875,0,0,1
129,130,0,3,0,45.000000,0,0,6.9750,0,0,1
629,630,0,3,0,29.699118,0,0,7.7333,0,1,0
650,651,0,3,0,29.699118,0,0,7.8958,0,0,1
592,593,0,3,0,47.000000,0,0,7.2500,0,0,1

In [9]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

## Salvando a base tratada

In [10]:
#Salvando base nova
train.to_csv('train_treated.csv')